@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;

    --card: 40 25% 96%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    --primary: 152 54% 24%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 56% 39%;
    --secondary-foreground: 0 0% 100%;

    --muted: 40 25% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 40 96% 51%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 152 54% 24%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
